body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Roboto';
}

aside {
  background-color: #383838;
  height: 100vh;
  width: 5vw;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#note-excerpt {
  height: 100vh;
  width: 25vw;
  background-color: rgba(245, 245, 245, 0.74);
  border-right: 2px solid rgba(129, 126, 126, 0.432);
}

#note-excerpt__header {
  background-color: rgba(245, 245, 245, 0.74);
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid rgba(129, 126, 126, 0.432);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

#note-excerpt__header .field {
  margin: 0;
  width: 85%;
  padding: 0.5rem;
}

#save-note {
  background: transparent;
}

#trash {
  background: transparent;
  color: rgba(102, 102, 102, 0.705);
}

#trash :hover {
  color: rgba(160, 0, 0, 0.705);
}

#note-content {
  background-color: rgba(245, 245, 245, 0.74);
  width: 70vw;
  overflow: auto;
}

#note-content__header {
  width: 100%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

#note-content__header__date {
  font-size: 1.25rem;
}

#note-content__main-area {
  padding: 0 3rem 3rem 3rem;
}

#note-content-textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  width: 100%;
  font-size: 1.25rem;
  color: #383838;
  outline: none;
  min-height: 100vh;
}

#note-title-textarea {
  background: transparent;
  resize: none;
  border: 0 none;
  height: 5rem;
  width: 100%;
  font-size: 3.5em;
  outline: none;
  font-weight: bold;
}

#note-excerpt:not(#note-excerpt__header) {
  max-height: 100%;
  overflow: auto;
}

.excerpt {
  background-color: #f7f7f7;
  width: 100%;
  max-width: 100%;
  height: 8rem;
  padding: 1.25rem;
  border-bottom: 1px solid rgba(180, 180, 180, 0.671);
}

.excerpt:hover {
  cursor: pointer;
}

.excerpt :nth-child(1) {
  font-weight: bold;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.excerpt :nth-child(2) {
  font-size: 0.75rem;
  color: #6d6d6d;
}

.excerpt :nth-child(3) {
  margin-top: 0.5rem;
  word-break: break-all;
  white-space: nowrap;
  max-height: 2rem;
  font-size: 1rem;
  color: #4d4d4d;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*# sourceMappingURL=styles.css.map */